.selectdiv {
	position: relative;
	/*Don't really need this just for demo styling*/

	min-width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 0.5rem;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
	display: none;
}

.selectdiv select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* Add some styling */

	display: block;
	width: 110%;
	max-width: 370px !important;
	height: 50px;
	float: left;
	margin: 5px 0px;
	padding: 0px 24px;
	font-size: 16px;
	line-height: 1.75;
	color: #333;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	-ms-word-break: normal;
	word-break: normal;
	border-radius: 0.5rem;
}

#center {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border: 0px !important;
}
